{{define "title"}}<title>PostgreSQL Demo</title>{{end}}
{{define "body"}}

<div class="page__container">

	<div class="page__header">
		<h1>Blog</h1>
		<div class="actions">
			<a class="btn btn-primary" href="/blog-posts/new" >Create Post</a>
		</div>
	</div>

	<div class="page__body">
		<div class="posts">
			
			{{range $idx, $blogpost := . }}
				<div class="post">
					<h2>{{$blogpost.Title}}</h2>
					<div class="post-body">
						{{$blogpost.Description}}
					</div>
					<form
						class="delete-form"
						id="delete-post-{{$blogpost.ID}}"
						action="/blog-posts/delete"
						method="post"
					>
					<input type="hidden" name="postID" value="{{$blogpost.ID}}" />
					<div class="actions">
						<input class="btn btn-primary" type="submit" value="Delete Post">
					</div>
					</form>
				</div>
			{{end}}

		</div>
	</div>

</div>

{{end}}
