{{define "title"}}<title>PostgreSQL Demo</title>{{end}}
{{define "body"}}

<div class="container content">
	<div class="row">
		<div class="col-lg-9">
			<div class="page-header">
				<h1>Create Blog Post</h1>
			</div>
      <form class="form-horizontal post" id="new_post" action="/blog-posts/create" method="post">
        <p>Title:<br>
            <input type="text" name="title"/>
        </p>
        <p>Description:<br>
            <input type="text" name="description"/>
        </p>
        <p>
            <input type="submit" value="Submit"/>
            <div class='actions rAlign'>
              <a href="/">Cancel</a>
            </div>
        </p>
      </form>
		</div> <!-- col-lg-9 -->
	</div><!--/row-->
</div> <!-- /container -->


{{end}}
