{{define "title"}}<title>PostgreSQL Demo</title>{{end}}
{{define "body"}}

<div class="page__container">

  <div class="page__header">
    <h1>Create Blog Post</h1>
  </div>

  <form 
    class="form post" 
    id="new_post" 
    action="/blog-posts/create" 
    method="post"
  >

    <div class="field">
      <span class="label">Title</span>
      <input 
        type="text" 
        name="title" 
        placeholder="Enter your title here"
      />
    </div>

    <div class="field">
      <span class="label">Description</span>
      <input 
        type="text" 
        name="description" 
        placeholder="Enter your post body here"
      />
    </div>

    <div class="actions"> 
      <a class="btn" href="/" >Cancel</a>
      <input 
        class="btn btn-primary" 
        type="submit" 
        value="Create Post"
      />
    </div>

  </form>

</div>


{{end}}
